<div class="card text-center">
    {{#each posts as |post|}}
    <div class="card-body">
        <a href="/post/{{id}}">
            <h5 class="card-title">{{title}}</h5>
        </a>
        <p class="card-text">{{contents}}</p>

        <p>
            <button id="{{id}}" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#collapseExample{{id}}" aria-expanded="false" aria-controls="collapseExample{{id}}">
                Comment
            </button>
        </p>
        <div class="collapse" id="collapseExample{{id}}">
            <div class="card card-body form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <button class="btn btn-primary postCommentButton" data-id="{{id}}">Post Comment</button>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted">
        Posted by: {{user.username}} on {{format_date createdAt}}.
    </div>
    {{/each}}
</div>




<script src='/js/homepage.js'></script>